body {
	background: url(../img/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Noto Sans', sans-serif;
}
.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;

}
h2 {
	color: white;
	font-size: 18px;
	margin-top: 0;

}
.bio{
	color: white;
	font-size: 14px;
}
.me {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	margin-top: 40px;
}
